.idea
.git
bin/
doc/
kubernetes/
lib/
profiler/
tmp/
cov-int/
**gmon.out
**perf.data*
**callgrind.out*
**/*.pcap
**/*.pem
!/3rdParty/**
3rdParty/libhttp/lib/**
3rdParty/libhttp/obj/**
3rdParty/aws-sdk/_build
docker/certificate/**
docker/aws/**
!docker/certificate/ddgen-cert.pem





